// COLORS
$pl_primary: #006EDB;

$pl_white: #fff;
$pl_gray_lightest: #F2F6FA;
$pi_gray_lighter: #DAE1E8;
$pi_gray_light: #BFCCD9;
$pi_gray_dark: #ADBDCC;
$pi_gray_darker: #78879B;
$pi_gray_darkest: #4B5564;
$pi_black: #282D33;

$pi_success: #0DC441;
$pi_danger: #E61739;
$pi_warning: #F2A200;
$pi_info: #00A0F0;

// FONT WEIGHTS
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

$base-font-family: 'Roboto', sans-serif;
